@import url('layout.css');

.profile-intro-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.responsive-profile-img {
    width: 250px;
    height: 250px;
}

#cards-section {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.card {
    width: 90%;
    max-width: 400px;
    padding: 1.5rem 1rem;
}

.card-image {
    max-width: 100%;
    height: 140px;
}