@import url('layout.css');

.profile-intro-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.responsive-profile-img {
    width: 100px;
    height: 100px;
}

.intro {
    padding: 1rem;
    font-size: 1rem;
}

/* home-small.css */
#cards-section {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin: 1.2rem 0;
}

.card {
    width: 98%;
    max-width: 340px;
    padding: 1rem 0.5rem;
}

.card-image {
    max-width: 100%;
    height: 100px;
}

.card-title {
    font-size: 1.1rem;
}

.card-description {
    font-size: 0.95rem;
}